@import "gcls-variables";

.btn {

    &-primary:hover {
        background-color: #085681 !important;
    }


    &-primary, &-outline-primary:hover {
        --bs-btn-color: #fff;
        --bs-btn-hover-color: #fff;
        --bs-btn-active-color: #fff;
        --bs-btn-disabled-color: #fff;
    }
}

.gcls-btn {

    border-radius: 0;
    padding-top: $gcls-btn-padding-y;
    padding-bottom: $gcls-btn-padding-y;
    padding-left: $gcls-btn-padding-x;
    padding-right: $gcls-btn-padding-x;

    text-transform: $gcls-btn-text-transform;

    border: none;

    background: none;

    color: $gcls-harbor;

    &:hover {
        background: $gcls-harbor;
        color: map-get($gcls-gray-variants, 10);
    }

    &:active {
        background: #085681;
    }

    &:disabled, &-disabled {
        background: none;
        color: map-get($gcls-gray-variants, 50);
    }

    &--margin {
        margin: 15px;
    }
}